.post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  .post__item {
    flex: 40%;
    padding: 20px;
  }
}

.post-image {
  position: fixed;
  height: 80px;
  width: 80px;
  bottom: 0;
  right: 0;
  margin: 20px; /* 任意のマージン */
  z-index: 100; /* 他の要素より前に表示させる場合 */
}


.button {
  flex-direction: column;
  align-items: center;
  padding: 12px 28px;
	margin: 0 10px 10px 0;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
