
/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.signup-form {
  margin: 50px auto;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background: #cddcef;

  header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
  }

  form {
    margin-top: 30px;

    .field {
      position: relative;
      height: 50px;
      width: 100%;
      margin-top: 20px;
      border-radius: 6px;
  
      input,
      button {
        height: 100%;
        width: 100%;
        border: none;
        font-size: 16px;
        font-weight: 400;
        border-radius: 6px;
      }
  
      input {
        outline: none;
        padding: 0 15px;
        border: 1px solid#CACACA;

        &:focus {
          border-bottom-width: 2px;
        }
      }
  
      button {
        color: #fff;
        background-color: #0171d3;
        transition: all 0.3s ease;
        cursor: pointer;
  
        &:hover {
          background-color: #016dcb;
        }
      }
  
      .eye-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 18px;
        color: #8b8b8b;
        cursor: pointer;
        padding: 5px;
      }
  
    }
  }

  a {
    color: #0171d3;
    text-decoration: none;
  }


  .form-link {
    text-align: center;
    margin-top: 10px;

    span,
    a {
      font-size: 14px;
      font-weight: 400;
      color: #232836;
    }
  }

  @media screen and (max-width: 400px) {
    .form {
      padding: 20px 10px;
    }
  }
}

